<ion-view view-title="BioApp">
  <ion-content class="padding">
    <!--links -->
    <link rel="stylesheet" href="../css/Principal.css">

    <!--code of video-->

    <video  loop="loop"  id="video_background" preload="auto" volume="50"class="video">
      <source src="../resource/bioappPrincipal.mp4" type="video/mp4">
    </video>

        <!--this code information-->
    <h1 class="styh1">BioApp</h1>
    <p class="styp">"La mente humana evolucionó para creer en los dioses. No evolucionó para creer en la biología. (Edward O. Wilson)"</p>
    <img src="../img/logo1.jpg" alt="logo BioApp" class="logo">
    <div class="stydiv">
      <a href="https://es.wikipedia.org/wiki/Biología" class="stya">Biologia Wikipedia.</a>
    </div>
   
    <!--ilustration of biology-->

    <div class="row">
      <div class="col-100" ng-controller="DashCtrl">
        <ul ng-repeat="x in juegos">
          <li><h2 class="styh2" >{{x.nombre}}</h2></li>
          <li><a href="{{x.link}}"><img src="{{x.img}} "  alt="ilustracion" width="100%" height="250"></a></li>
        </ul>
      </div>
    </div>











  <div class="container cont1">
    <div class="row">
      <div class="col-100">
        <h1 class="styh11">Importancia del Agua.</h1>
        <p class="stypp text-center">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

        Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</p>
      </div>  
    </div>  
    <div class="row">
      <div class="col-100">
        <video  loop="loop" controls id="video_background" preload="auto" volume="50"class="video">
          <source src="../resource/bioappPrincipal.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-100">
        <h1 class="sth11">La importancia del agua en el organismo</h1>
        <p class="sp">Todos nosotros conocemos la importancia del agua en el organismo. Todas las actividades que una persona hace en su vida cotidiana están de una manera u otra relacionadas con el agua. Sabemos que alrededor del 75% de la tierra es agua en forma de océanos, lagos, ríos, glaciares, etc. Nuestro cuerpo está hecho principalmente de agua, y esta juega un papel muy importante en nuestra salud física.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-100 " >
        <img src="../img/agua1.jpg" class="imgfor"  alt="infoAgua">        
     </div>
    </div>
    <div class="row">
      <div class="col-100">
        <h1 class="sth11">La importancia del agua fuera del organirmo. Importancia del agua para el planeta y el ser humano
        </h1>
        <p class="sp">La Asociación Mundial para el Agua (GWP, por sus siglas en inglés) es una red internacional abierta a todas las organizaciones involucradas en la gestión sostenible de los recursos hídricos. Para este organismo trabaja Gustaf Olsson, uno de los mayores expertos mundiales en usos y gestión del agua, que ha publicado el estudio Water and energy. Existen, según el experto, graves contradicciones en el empleo del agua.

        Un dato demuestra la importancia del agua en nuestra vida: un 60% del cuerpo humano de un adulto es agua. En un bebé, el porcentaje es mayor, hasta un 75%. En el planeta, un 97% del agua está en mares y océanos. Sólo un 3% es, por tanto, agua dulce. De ésta, el 69% está congelada en casquetes polares y glaciares y otro 30% bajo tierra. Así, sólo el 1% de agua dulce está disponible en la superficie. Sigue leyendo este artículo de EcologíaVerde y te hablaremos sobre la importancia del agua para el planeta y el ser humano</p>
      </div>
    </div>
    <div class="row">
      <div class="col-100 " >
        <img src="https://fandelagua.com/wp-content/uploads/otwpct/tmb/importancia_agua_plantas_01_1522105725_1180X580_c_c_0_0.jpg" class="imgfor"  alt="infoAgua">        
     </div>
    </div>
    <div class="row">
      <div class="col-100">
        <video  loop="loop"  id="video_background" controls preload="auto" volume="50"class="video">
          <source src="../resource/agua2.mp4" type="video/mp4">
        </video>        
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-100">
        <h1 class="sth11">El Adn</h1>
        <p class="sp">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-100">
        <h1 class="sth11">Historia</h1>
        <p class="sp">El ADN fue aislado por primera vez durante el invierno de 1869 por el médico suizo Friedrich Miescher mientras trabajaba en la Universidad de Tubinga. Miescher realizaba experimentos acerca de la composición química del pus de vendas quirúrgicas desechadas cuando notó un precipitado de una sustancia desconocida que caracterizó químicamente más tarde.2​3​ Lo llamó nucleína, debido a que lo había extraído a partir de núcleos celulares.4​ Se necesitaron casi 70 años de investigación para poder identificar los componentes y la estructura de los ácidos nucleicos.</p>

        <p class="sp">En 1919 Phoebus Levene identificó que un nucleótido está formado por una base nitrogenada, un azúcar y un fosfato.5​ Levene sugirió que el ADN generaba una estructura con forma de solenoide (muelle) con unidades de nucleótidos unidos a través de los grupos fosfato. En 1930 Levene y su maestro Albrecht Kossel probaron que la nucleína de Miescher es un ácido desoxirribonucleico (ADN) formado por cuatro bases nitrogenadas (citosina (C), timina (T), adenina (A) y guanina (G), el azúcar desoxirribosa y un grupo fosfato, y que, en su estructura básica, el nucleótido está compuesto por un azúcar unido a la base y al fosfato. </br>  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Friedrich_Miescher.jpg/220px-Friedrich_Miescher.jpg" class="imgactor" alt="actor del adn">  
        <br>Sin embargo, Levene pensaba que la cadena era corta y que las bases se repetían en un orden fijo. En 1937 William Astbury produjo el primer patrón de difracción de rayos X que mostraba que el ADN tenía una estructura regular.7​</p>
      </div>
    </div>   


<!--codigo de adn virtual-->
    
    <div class="row rolla" style="background:white" >
      <div class="col-100" id="stage">
        <div id="spinner" style="text-align: center; color: #fff;">
          <h1><span class="blue">1</span><span>_____________ </span><span class="pink">1</span></h1>

          <h1><span class="blue">2</span><span>_____________ </span><span class="pink">2</span></h1>

          <h1><span class="blue">3</span><span>_____________ </span><span class="pink">3</span></h1>
          <h1><span class="blue">4</span><span>_____________ </span><span class="pink">4</span></h1>

          <h1><span class="blue">4</span><span>_____________ </span><span class="pink">5</span></h1>

          <h1><span class="blue">6</span><span>_____________ </span><span class="pink">6</span></h1>
          <h1><span class="blue">7</span><span>_____________ </span><span class="pink">7</span></h1>

          <h1><span class="blue">8</span><span>_____________ </span><span class="pink">8</span></h1>

          <h1><span class="blue">9</span><span>_____________ </span><span class="pink">9</span></h1>

      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-50">
      <img src="../resource/adn.gif" alt="adn gif" class="imgadn">
    </div>
    <div class="col-50">
      <h1 class="spp">
        Adn Ilustracion.
      </h1>
    </div>
  </div>










    <div class="container cont3">
      <div class="col-100">
        <h1 class="sth111">Tabla Nutricional.</h1>
        <p class="sp">La información nutricional de un alimento se refiere a su valor energético y determinados nutrientes: grasas, grasas saturadas, hidratos de carbono, azúcares, proteínas y sal.

        Aunque la información nutricional será obligatoria a partir del 13 de diciembre de 2016, muchos productos ya la han incorporado de forma voluntaria de acuerdo con lo establecido en la nueva normativa. Si se realiza una declaración nutricional o de propiedades saludables o bien se trata de alimentos enriquecidos, es obligatorio realizar la información nutricional de acuerdo con lo establecido en el Reglamento sobre información alimentaria facilitada al consumidor.</p>
        
        <h1 class="sth111">Las necesidades nutricionales del adolescente</h1>

        <h1 class="aux">Nutrientes</h1>
        <p class="sp">Los nutrientes proteínas, carbohidratos y grasas en los alimentos sirven como fuentes de energía para el cuerpo.</p>

        <ul>
          <li class="li">La grasa contribuye con más del doble: 9 calorías por gramo.</li>
          <li class="li">Cada gramo de proteína y carbohidrato proporciona 4 calorías, o unidades de energía.</li>
        </ul>


        <h1 class="aux">Proteínas</h1>
        <p class="sp">De los tres nutrientes, lo que menos nos preocupa es la proteína. No porque no sea importante; el 50% de nuestro peso corporal está formado de proteínas, sino porque los adolescentes en Estados Unidos obtienen el doble de proteínas que necesitan.</p>

        <p class="sp">A continuación algunos alimentos favoritos de adolescentes que contienen más proteína:</p>

        <ul>
          <li class="li">Carne de res</li>
          <li class="li">Pollo</li>
          <li class="li">Pavo</li>
          <li class="li">Cerdo</li>
          <li class="li">Pescado</li>
          <li class="li">Huevos</li>
          <li class="li">Queso</li>
        </ul>

        <h1 class="aux">Carbohidratos</h1>
        <p class="sp">Los carbohidratos, que se encuentran en almidones y azúcares se convierten en el principal combustible del cuerpo: azúcar simple glucosa. Sin embargo, no todos los carbohidratos se crean igual. En las comidas planificadas, queremos incluir alimentos con carbohidratos complejos y limitar los carbohidratos simples. Los carbohidratos complejos proporcionan energía continua; es por eso que se con frecuencia observa a maratonistas y otros atletas consumiendo grandes cantidades de pasta antes de competir. Adicionalmente, muchos almidones también proporcionan fibra y diversos nutrientes. Realmente son alimentos sustanciosos: pero bajos en grasa.</p>


        <ul>
          <li class="li">La mayoría de nutricionistas recomiendan que la ingesta calórica de los adolescentes incluya de 50 a 60 por ciento de carbohidratos complejos.</li>
          <li class="li">Los carbohidratos simples nos seducen con su sabor dulce y un pequeño golpe de energía pero ofrecen poco y deben reducirse en la dieta.</li>     
        </ul>



        <h1 class="aux">
          Grasa en la dieta.
        </h1>
        <p class="sp">Los expertos en nutrición recomiendan que la grasa no conforme más del 30 por ciento de la dieta. La grasa proporciona energía y ayuda al cuerpo a absorber las vitaminas solubles en grasa: A, D, E y K. Pero estos beneficios deben considerarse junto a los muchos efectos secundarios a la salud. Un adolescente que recurra a una dieta rica en grasas aumentará de peso, aunque sea físicamente activo. Se requiere un entrenamiento digno de un atleta olímpico para quemar el exceso de calorías de grasa todos los días.</p>

        <p class="sp">
          Los alimentos grasos contienen colesterol, una sustancia cerosa que puede obstruir una arteria y finalmente, endurecerla. El peligro de la arteriosclerosis es que la obstrucción afectará uno de los vasos sanguíneos que se conducen hacia el corazón o al cerebro, ocasionando un infarto o derrame cerebral. Aunque estas circunstancias que representan un peligro para la vida por lo general se presentan hasta en la vida adulta, el momento para iniciar a practicar la prevención es ahora, al reducir la cantidad de grasa en la dieta de su familia.
        </p>
        
        <p class="sp">
          La grasa en la dieta consta de tres tipos que varían en distintas proporciones:
        </p>

        <ul>
          <li class="li">Grasa mono insaturada, el tipo más sano, se encuentra en las aceitunas y el aceite de oliva; el maní, el aceite de maní y la mantequilla de maní; el anacardo, las nueces y el aceite de nuez y de canola.</li>
          <li class="li">Grasa poli insaturada, se encuentra en los aceites de maíz, cártamo, girasol, soya, semilla de algodón y semilla de sésamo.</li>
          <li class="li">Grasa saturada, el tipo más cargado de colesterol de los tres, se encuentra en los productos lácteos y la carne tales como la carne de res, cerdo, cordero, mantequilla, queso, crema, yemas de huevo, aceite de coco y aceite de palma.</li>
        </ul>

        <p class="sp">Su familia debe restringir la ingesta de grasa saturada a no más del 10 % del total de calorías diarias. El otro 20 % de la calorías de las grasas en la dieta deben venir de dos tipos de grasas insaturadas, las cuales se encuentran principalmente en los aceites vegetales.</p>

        <p class="sp">
          Si su familia consume muchos alimentos empacados y procesados, debe hacerse al hábito de leer las etiquetas con la información nutricional. Podría sorprenderle la cantidad de grasa, sin mencionar azúcar y sal (sodio), que contienen los alimentos que consume diariamente. Además, es posible que casi todos los productos empacados que contienen grasa contengan grasa parcialmente hidrogenada ya que tienen una vida útil más larga.
        </p>

        <h1 class="aux">Vitaminas y minerales</h1>
        <p class="sp">Una dieta completa basada en los lineamientos de USDA proporcionará las cantidades suficientes de todas las vitaminas y minerales esenciales. Los adolescentes tienden a no cubrir sus cuotas diarias de calcio, hierro y cinc.</p>
        <p class="sp">A menos que un examen de sangre o pruebas del pediatra revelen una deficiencia específica, es preferible obtener los nutrientes de los alimentos en lugar de consumir suplementos dietéticos.</p>

        <h1 class="aux">Lipidos</h1>
        <p class="sp">Los lípidos son un conjunto de moléculas orgánicas (la mayoría biomoléculas), que están constituidas principalmente por carbono e hidrógeno y en menor medida por oxígeno. También pueden contener fósforo, azufre y nitrógeno.</p>
        <p class="sp">Caracteristicas: Los lípidos son moléculas diversas en el cuerpo ; unos están formados por cadenas alifáticas saturadas o insaturadas, en general lineales, pero algunos tienen anillos (aromáticos). Algunos son flexibles, mientras que otros son rígidos o semiflexibles hasta alcanzar casi una total Flexibilidad mecánica molecular; algunos comparten carbonos libres y otros forman puentes de hidrógeno.</p>



        <h1 class="styh1">Tabla Nutricional de un adolescente</h1>
        
        <table class="egt">

          <thead>
            <tr>
              <th>Hora de consumo.</th>
              <th>Alimentos</th>
            </tr>
          </thead>

          <tbody>
            <tr>

              <td class="text">Desayuno.</td>

              <td>
                <p class="sp">
                  1 opcion:
                  Tomar un lácteo en forma de vaso de leche, yogur o queso fresco, en función de la actividad física diaria y de la constitución del adolescente; se puede acompañar de una cucharada de cacao en polvo o miel.
                </p>

                <p class="sp">
                2 opcion:
                Acostumbrar al menor a beber zumo natural preparado en casa, pues es una forma más sencilla de ingerir varias piezas de fruta en una sola comida.  
                </p>
                <p class="sp">
                3 opcion:
                Asegurar el aporte de hidratos de carbono tomando dos tostadas integrales, acompañadas de aceite de oliva, tomate triturado o en rodajas, y jamón serrano o fiambres de pavo.                  
                </p>

                
              </td>


            </tr>

            <tr>

              <td class="text">Refaccion en la Mañana.</td>

              <td>
                <p class="sp">
                  1 opcion:
                  Yogurt sin azucar + banano,
                  paquete de galletas de soda con queso ricotta(puede ser queso crema) y salsa natural, zanahorita rallada con limon y sal.
                </p>
                <p class="sp">
                  2 opcion: 
                  Tortilla de harina con jamon y queso, gajos de mandarina, palitos de pepino de yogurt.
                </p>
                <p class="sp">
                  3 opcion:
                  Nacho con frijol y queso parmesano,
                  gelatina con fruta picada, 
                  rollitos de jamon de pechuga de pavo.
                </p>
              </td>
            </tr>

            <tr>
              <td class="text">
                Almuerzo.
              </td>
              <td>
                <p class="sp">
                  1 opcion:
                  Entrada, Sopa de fideos;
                  Plato principal, Guiso de arroz con carne y vegetales;
                  Postre, Fruta a eleccion.
                </p>
                <p class="sp">
                  2 opcion:
                  Entrada, Sopa con huevo;
                  Plato principal, Carne al horno con zahahoria rallada;
                  Postre, Duraznos en almibar.
                </p>
                <p class="sp">
                  3 opcion:
                  Entrada, Tarta de berenjenas;
                  Plato principal, Albondigas con ensalada;
                  Postre, Manzana al horno con caramelo.
                </p>
              </td>
            </tr>


            <tr>
              <td class="text">
                Refaccion en la tarde.
              </td>
              <td>
                <p class="sp">
                  1 opcion:
                  Pan de agua con crema (o ricotta) y rodajas de tomate, chips de lenteja, fresas con mantequilla de mani o leche condensada. 
                </p>
                <p class="sp">
                  2 opcion:
                  Coctel de frutas mixtas,
                  hot dog: 1 panito de agua + 1 salchicha de pechuga de pollo con mostaza y salsa, 1 manzana en rodajas + abundante limos para evitar que se pnga negra.
                </p>
                <p class="sp">
                  3 opcion:
                  Pan con espinaca y queso,
                  Panqueque en trozos con miel,
                  Palomitas de maiz cubos de queso,
                  Pan pita con pollo.
                </p>
              </td>
            </tr>


            <tr>
              <td class="text">
                Cena.
              </td>

              <td>
                <p class="sp">
                  1 opcion:
                  Entrada, Sopa de semola;
                  Plato principal, Pollo al horno con budin o pure;
                  Postre, Fruta a eleccion.
                </p>  
                <p class="sp">
                  2 opcion:
                  Entrada, Sopa crema de zapallo;
                  Plato principal, Pastel de carne con queso fresco y huevo;
                  Postre, Manzana rallada con jugo de naranja.
                </p>  
                <p class="sp">
                  3 opcion:
                  Entrada, Tortilla de acelga con queos fresco;
                  Plato principal, Pollo al horno con calabazas;
                  Postre, Budin de pan.
                </p>  
              </td>
            </tr>            
          </tbody>
        </table>


        <hr/>



        <table class="egt">
          <thead>
            <tr>
              <th>Productos Nutritivos.</th>
              <th>Alimentos.</th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text">Carbohidratos</td>
              <td>
                <p class="sp">
                  Los glúcidos, carbohidratos, hidratos de carbono o sacáridos son biomoléculas compuestas de carbono, hidrógeno y oxígeno, cuyas principales funciones en los seres vivos son el brindar energía inmediata y estructural.
                </p>
              </td>
            </tr>
            <tr>
              <td class="text">Grasas</td>
              <td><p class="sp">
                En bioquímica, grasa es un término genérico para designar varias clases de lípidos, aunque generalmente se refiere a los acilglicéridos, ésteres en los que uno, dos o tres ácidos grasos se unen a una molécula de glicerina, formando monoglicéridos, diglicéridos y triglicéridos respectivamente
              </p></td>
            </tr>
            <tr>
              <td class="text">Lipidos</td>
              <td><p class="sp">
                Los lípidos son un conjunto de moléculas orgánicas, que están constituidas principalmente por carbono e hidrógeno y en menor medida por oxígeno. También pueden contener fósforo, azufre y nitrógeno.​
              </p></td>
            </tr>
            <tr>
              <td class="text">Azucares</td>
              <td><p class="sp">
                
              DescripciónSe denomina azúcar, en el uso más extendido de la palabra, a la sacarosa, cuya fórmula química es C₁₂H₂₂O₁₁, también llamada «azúcar común» o «azúcar de mesa». La sacarosa es un disacárido formado por una molécula de glucosa y una de fructosa, que se obtiene principalmente de la caña de azúcar o de la remolacha.
              </p></td>
            </tr>
            <tr>
              <td class="text">Proteinas</td>
              <td><p class="sp">
                La figura corresponde a la Las proteínas (< en francés: protéin, 'prominente, de primera calidad')​ o prótidos​ son macromoléculas formadas por cadenas lineales de aminoácidos. Las proteínas desempeñan un papel fundamental para la vida y son las biomoléculas más versátiles y diversas.
              </p></td>
            </tr>
          </tbody>
        </table>



        </div>      
    </div>






    <!--linia de informacion local-->

    <div class="row frac1">
      <div class="col-100 frac" >
        <div class="linea1">
          <h1 class="sth1">Developers: </h1>
          <h3>Gerson Boche. </h3>
          <h3>Seiddy Roca. </h3>
          <h3>Ricardo Perez.</h3>
        </div>
        <div class="linea2">
          <h1 class="sth1">Designers:</h1>
          <h3>Jennifer Enriquez.</h3>
          <h3>César Tello.</h3>
          <h3>Andrea Sagche.</h3>
        </div>
        <div class="linea3">
          <h1 class="sth1">Links: </h1>
          <h3>VIRTUALPROGRAMS</h3>
          <h3>@VIRTUAL_PROGRAMS</h3>
          <h3>VIRTUAL_PROGRAMS</h3>
        </div>
        <div class="linea4">
          <h1 class="sth1">Contáctanos:</h1>     
          <h3>VirtualProgramsGT@gmail.com</h3>
          <h3>5880-9232</h3>
          <h3>5384-3408S</h3>
        </div>
      </div>
    </div>
    <!--linia de informacion-->
    <div class="row frac2">
      <div class="col-50">
        <h5>Virtual Programs Developers All right reserved.</h5>
      </div>
      <div class="col-50 text-center">
        <a href="#" class="enlace"><p><i class="icon1 icon ion-social-facebook"></i>Facebook</p></a>
        <a href="#" class="enlace"><p><i class="icon1 icon ion-social-twitter"></i>Twiter</p></a>
        <a href="#" class="enlace"><p><i class="icon1 icon ion-social-instagram"></i>Instragram</p></a>
      </div>
    </div>





    <script src="../js/adn.js"></script>


  </ion-content>
</ion-view>
